body{
  background-color: crimson;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100px;
  font-style: italic;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  display: flex ;
  flex-direction: column;
  align-items: center;
}