
body{
  background-color: crimson;
  
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100px;
  font-style: italic;
}

footer{
  display: flex ;
  flex-direction: column;
  align-items: center;
}

img{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 325px;
  
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px
 
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px;
  border-style: solid;
 
}

button:link{
  color: white;
}

button:hover{
  color: white;
}




 
