body{
  background-color: crimson;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100px;
  font-style: italic;
}

footer{
  display: flex ;
  flex-direction: column;
  align-items: center;
}
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: end;
  border-style:groove;
  border-color: black;
}

.value{
  display: grid;
  border-style: groove;
  border-color: black;
  display:flex ;
  align-items:center;
}
form{
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px;
  border-style: solid;
 
}

button:link{
  color: white;
}

button:hover{
  color: white;
}